* {
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}
body {
    background-color: #f4f4f4;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C3F8FF;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
main {
    margin-top: 63px;
}
.cart-icon {
    background-color: red;
    border: 2px solid black;
    border-radius: 8px;
    width: 60px;
    height: 20px;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
    margin-right: 30px;
    cursor: pointer;
}
.products{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:20px;
    padding:20px;
}
.product{
    background:#fff;
    padding:15px;
    width: 200px;
    border: 2px solid black;
    border-radius:10px;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.product:hover {
    background-color: #C3F8FF;
    transform: scale(1.03);
}
.product img{
    width: 200px;
    height: 200px;
    object-fit:cover;
    border-radius: 10px;
}
.product button{
    margin-top:10px;
    padding:8px 15px;
    background:green;
    color:#fff;
    border:none;
    cursor:pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.cart {
    display: none;
    max-width: 500px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.2) 0px 4px 10px;
}
.cart-item {
    display: flex;
    gap: 100px;
    margin-bottom: 12px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}
.cart-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cart-details p {
    margin: 2px 0;
    font-size: 14px;
}

.cart-name {
    font-weight: bold;
}
.checkOut {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.2) 0px 4px 10px;
}

textarea {
    width: 200px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}
input {
    width: 200px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}
.buy-btn {
    width: 100px;
    height: 40px;
    background-color: #C3F8FF;
    margin: 10px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 800;
}
.buy-btn:hover {
    transform: scale(1.05);
}
.clear-btn {
    width: 100px;
    height: 40px;
    background-color: #C3F8FF;
    margin: 10px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 800;
}
.clear-btn:hover {
    transform: scale(1.05);
}
.close-btn {
    width: 200px;
    height: 40px;
    background-color: #C3F8FF;
    margin: 10px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 800;
}
.close-btn:hover {
    transform: scale(1.05);
}
.placeOrder {
    width: 100px;
    height: 40px;
    background-color: #C3F8FF;
    margin: 10px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 800;
}
.placeOrder:hover {
    transform: scale(1.05);
}
.added:hover {
    transform: scale(1.03);
    background-color: black;
}
